# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
*.orig
.history/

# Android/IntelliJ
#
.idea
.tmp
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/README.md

android/app/src/main/res/values/com_crashlytics_export_strings.xml
android/app/src/main/assets/crashlytics-build.properties

#VSCODE
.vscode/
jsconfig.json

storybook/storyLoader.js

flow.log

# Bundle artifact
*.jsbundle

golapp.app.dSYM.zip
golapp.ipa
scripts/*.csv
ios/GoogleMobileVision-1.1.0/FaceDetector/Frameworks
/yarn-offline-cache

oauth2.keys.json

lib
dist
gmail_uber.csv
gmail_refund
